html {
    scroll-behavior: smooth;
}

/* universal selector */
* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Apply a background color and set text styles */
body {
    background-color: #f2f2f2;
}

/* Style the header/navigation */
header {
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 5rem;
    padding: 1rem;
    font-size: 1rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 4px solid black;
    text-align: center;
    padding: -2px;
    margin: auto;
}

ul li {
    display: inline;
    padding-left: 10px;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    background: gray;
}

/* Style sections */
.about{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    border: black;
}

.work {
    display: flexbox;
    flex-direction: column;
    padding-top: 10rem;
    border: black;
    align-items: center;
    display: inline;
}

.profile-pic {
    display: inline-block;
    padding: 0rem;
}

.about img {
    width: 25rem;
}

.aboutcap {
    float: left;
}

.aboutp {
    float: right;
}


p {
    text-align: center;
    margin: 20px;
    padding: 50px;
}

h1{
    padding: 100px;
    align-items: left;
}

h2{
    padding: 100;
    position: absolute; 
    margin-top: 5px;
    color: #f2f2f2;
}


h3{
    padding: 20px;
    text-align: center;
    align-items: center;
}

.challenge {
    display: flex;
    flex-wrap: wrap;
}

.challenge img {
    width:  500px;
    height: 400px;
    float: right;
}

.project img {
    width:  1000px;
    height: 400px;
    float: right;
}




.contact li {
    text-align: center;
}


.contact {
    background: gray;
    align-items: center;
}








